<nav class=" header sticky-top">
    <a [routerLink]="['']" class="logo">Goonja Gandhi</a>
    <li class="header-right">
      <a (click)="scrollToElement('about')" [class.active]="isSectionActive('about')" class="pointer">About</a>
      <a (click)="scrollToElement('projects')" [class.active]="isSectionActive('projects')" class="pointer">Projects</a>
      <a (click)="scrollToElement('companies')" [class.active]="isSectionActive('companies')" class="pointer">Companies Worked For</a>
      <a target="_blank" href="assets/resume/GoonjaGandhi_potfolio.pdf">Resume</a>
    </li>
</nav>
