.icon-background-styling {
    display: flex; 
    justify-content: flex-end; 
    background-color: black; 
    margin-bottom:0; 
    padding-bottom: 0; 
    align-items: center;
    max-height: 10vh;
}
.linkedin-styling {
    margin-right:2vw;
}

.github-styling {
    margin-right: 3vw;
}

.soundcloud-styling {
    max-height:7vh;
    margin-right:2vh;
}

.youtube-styling {
    margin-right: 2vh;
}

.imdb-styling {
    max-height: 7vh;
    margin-right:2vh;
}