<main class="setingup-page">

    <h4>
        How I got interested 
        </h4> 
        <p class="content-styling">
            My keen intrest in analytical philosphy got me interested into coding. 
            Learning to code felt like practical implementation of the philsophical 
            concepts I had studdied in college 
        </p>

        <p>
            Companies Worked with:  
        </p>
       
        <div class="logos">
            <a href="https://www.tcs.com/">
                <img class="tcs-logo" src="../../assets/work-places/TCS.NS_BIG.png" alt="TCS">
            </a>
            <a href="https://aseuminfotech.com/">
                <img class="giriraj-logo" src="../../assets/work-places/giriraj_digitals_logo.png" alt="GirirajDigitals">
            </a>
            <a href="https://www.girirajdigital.com/">
                <img src="../../assets/work-places/aseum-infotech-logo.png" alt="aseum-infotech" class="aseum-logo">
            </a>
        </div>
</main>
