<main class="setingup-page">
        <h4>
            Some of my past work:
        </h4>
        <div class="display-9">
            Kotlin: 
            <br/>
           <span class="text-12">
            Dice Roll
            <br/>
            <a href="https://www.youtube.com/watch?v=uaUfEcrgm-s">Explaining the code</a>
            <br/>
            <a href="https://github.com/gona04/DiceRollingApp/tree/main"> Actual Code </a>
           </span>
           <br/>
           <br/>
           Android: 
           <br/>
           <span class="text-12">
            ToDo list app
            <br/>
            <a href="https://github.com/gona04/TodoList"> Actual Code </a>
           </span>
        </div>

        <p>
            Companies Worked with:  
        </p>
       
        <div class="logos">
            <a href="https://www.tcs.com/">
                <img class="tcs-logo" src="assets/work-places/TCS.NS_BIG.png" alt="TCS">
            </a>
            <a href="https://aseuminfotech.com/">
                <img class="giriraj-logo" src="assets/work-places/giriraj_digitals_logo.png" alt="GirirajDigitals">
            </a>
            <a href="https://www.girirajdigital.com/">
                <img src="assets/work-places/aseum-infotech-logo.png" alt="aseum-infotech" class="aseum-logo">
            </a>
        </div>

        <div>
            <h4 style="margin-left: 5%;">Honest Reviews:</h4>

            <div style=" width:100vw; height: 100vh; margin: 0 auto; background-color: black;">
            <image-slider [slides]="slides"></image-slider>
            </div>
        </div>
        <p>
            [please look into the footer links to find my work]
        </p>
</main>
