.top-margin {
 margin-top: 5em;
}
div.new-video-playlist {
    background-color: hsla(0, 0%, 0%, 0.569);
    display: flex; 
    width: 100vw; 
    height: 30rem; 
    justify-content: center;

    .sub-video-playlist {
        color: #ffff; 
         width: 100%; 
         margin-inline: 2rem;

         .video-with-text {
            width: 100%; 
            height:95%; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-between; 
            align-items: stretch;
         }
    }
}

.text-12 {
    font-size: 12px;
    font-style: italic;
}
.actual-text {
    text-align: center; 
    font-weight: bolder;
    font-size: 2rem;
    color: darkcyan;
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
    div.list-project {
        align-self: center;
        display: flex;
        justify-content: space-between;
        .inner-box {
            display: flex;
            width: 12rem;
            flex-direction: column;
            align-items:center;
            iframe {
                height: 25rem;
                width: 12rem;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    div.list-project {
        align-self: center;
        display: flex;
        justify-content: center;
        .inner-box {
            display: flex;
            width: 13rem;
            flex-direction: column;
            align-items:center;
            iframe {
                height: 25rem;
                width: 12rem;
            }
        }
    }
}

@media screen and (max-width:820px) {
    div.list-project {
        align-self: center;
        display: flex;
        justify-content: center;
        .inner-box {
            display: flex;
            width: 10rem;
            flex-direction: column;
            align-items:center;
            iframe {
                height: 25rem;
                width: 9rem;
            }
        }
    }

    div.new-video-playlist {
        flex-direction: column;
        height: 100vh;
        width: 90vw;
        justify-content: center;
        align-items: center;
    }
}

 /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
 @media screen and (max-width: 500px) {
    div.list-project {
        align-self: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .inner-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            iframe {
                height: 25rem;
                width: 80vw;
            }
        }
    }
    
  }

