<main class="setingup-page">
        <h4>
            Few intresting projects:
        </h4>
        <div class="list-project">
            <div class="inner-box kotlin">
                Kotlin: 
                <br/>
               <span class="text-12">
                Dice Roll
                <br/>
              
    <iframe width="320" height="350" src="https://www.youtube.com/embed/uaUfEcrgm-s?start=210&end=360"></iframe>
    
                <br/>
                <a href="https://github.com/gona04/DiceRollingApp/tree/main"> Actual Code </a>
               </span>
            </div>
          
          <div class="inner-box">
            Android:
            <span class="text-12">
             ToDo list app
             <br/>
             <iframe width="320" height="350" src="https://www.youtube.com/embed/bfCgem1TEaA?start=3&end=290"></iframe>
            <br/>
             <a href="https://github.com/gona04/TodoList"> Actual Code </a>
            </span>
          </div>
          <div class="inner-box">
            DBA:
            <span class="text-12">
             Local library Project
             <br/>
             <iframe width="320" height="350" src="https://www.youtube.com/embed/-a1dzoOIVHw"></iframe>
            <br/>
             <a href="https://github.com/gona04/dba_project"> Actual Code </a>
            </span>
          </div>
          <div class="inner-box">
            iOS App:
            <span class="text-12">
             Number Guesser App
             <br/>
             <iframe width="320" height="350" src="https://www.youtube.com/embed/-a1dzoOIVHw"></iframe>
            <br/>
             <a href="https://github.com/gona04/Number-Guesser-App"> Actual Code </a>
            </span>
          </div>
        </div>

        
        <p>
            Companies Worked with:  
        </p>
       
        <div class="logos">
            <a href="https://www.tcs.com/">
                <img class="tcs-logo" src="assets/work-places/TCS.NS_BIG.png" alt="TCS">
            </a>
            <a href="https://aseuminfotech.com/">
                <img class="giriraj-logo" src="assets/work-places/giriraj_digitals_logo.png" alt="GirirajDigitals">
            </a>
            <a href="https://www.girirajdigital.com/">
                <img src="assets/work-places/aseum-infotech-logo.png" alt="aseum-infotech" class="aseum-logo">
            </a>
        </div>

        <div>
            <h4 style="margin-left: 5%;">Honest Reviews:</h4>

            <div style=" width:100vw; height: 100vh; margin: 0 auto; background-color: black;">
            <image-slider [slides]="slides"></image-slider>
            </div>
        </div>
        <p>
            [please look into the footer links to find my work]
        </p>
</main>
