<div class="setingup-page">
    <h4>
        How I got interested 
        </h4> 
        <p class="content-styling">
            From Analytical philosophy to code
            My journey as a frontend developer emerged from 
            my keen interest in analytical philosophy. 
            Learning to code in my opinion is a practical 
            implementation of the philsophical concepts that 
            were introduced to me in grad school.
        </p>

        <br/>
        <br/>
        <div>
            <p>Another intresting fact about me: </p>
             Music Work 
            <a [routerLinkActive]="['active']" [routerLink]="['music']">Music direction & song writing</a>
        </div>

</div>