<main class="setingup-page">
    <h4> Once a composer always a composer </h4>
    <p class="content-styling">
        Composing and song writing is my passion have been 
        a composer since childhood. Composed sang produced 
        and sometimes also mixed a lot of jingles. 
    </p>

    <p>Companies worked with: </p>
    <div class="logos">
        <a class="emotional_fulls"  href="https://www.youtube.com/watch?v=7GUm-6Mpa7s">
            <img src="assets/work-places/emotionalFulls.jpeg" alt="emotionalFulls">
        </a>
        <a href="https://www.youtube.com/watch?v=j9GC9T69O6w">
            <img src="assets/work-places/digitalClaystudios.jpeg" alt="digitalClaystudios">
        </a>
    </div>
</main>
